* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #FCF7F8;
    color: #382D2E;
    line-height: 1.5;
}


svg {
    display: block;
}


/* HEADER */

.header {
    background-color: #FFE8E8;
    box-shadow: 0 4px 5px rgba(153, 100, 100, 0.25);
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.header__logo {
    height: 32px;
}

.header__logo path {
    fill: #CE2539;
}

.header__hamburger-menu {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* FOOTER */

.footer {
    background-color: #FFE8E8;
    padding: 40px 24px 24px;
    text-align: center;
}

.footer__logo {
    height: 40px;
    margin: 0 auto;
}

.footer__infos {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer__infos p {
    margin: 0;
}

.footer__social-links {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer__social-links img {
    display: block;
}

.footer__bottom {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer__bottom p {
    margin: 0;
}

.footer__bottom a {
    color: #382D2E;
}