* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #FCF7F8;
    color: #382D2E;
    line-height: 1.5;
}

/* to remove !!! */
::-webkit-scrollbar {
    display: none;
}


svg {
    display: block;
}


@font-face {
    font-family: "Soligant";
    src: url("assets/Soligant.ttf");
}


/* GEN */

.accent-font, h1, h2 {
    font-family: "Soligant";
}


/* HEADER */

.header {
    background-color: #FFE8E8;
    box-shadow: 0 4px 5px rgba(153, 100, 100, 0.25);
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.header__logo {
    height: 32px;
}

.header__logo path {
    fill: #CE2539;
}

.header__hamburger-menu {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* FOOTER */

.footer {
    background-color: #FFE8E8;
    padding: 40px 24px 24px;
    text-align: center;
}

.footer__logo {
    height: 40px;
    margin: 0 auto;
}

.footer__infos {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer__infos p {
    margin: 0;
}

.footer__social-links {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer__social-links img {
    display: block;
}

.footer__bottom {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer__bottom p {
    margin: 0;
}

.footer__bottom a {
    color: #382D2E;
}


/* SECTIONS */

main {
    margin-bottom: 112px;
}


.main--without-background-sections {
    margin-left: 24px;
    margin-right: 24px;
}


.first-heading {
    font-size: 2.5rem; /* 40px */
    line-height: 1;
    margin: 48px 0 0;
    text-align: center;
}




/* BOUQUET CARD */

.bouquet-cards-container {
    margin-top: 32px;
    display: grid;
    row-gap: 32px;
}

.bouquet-card {
    display: block;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    color: #382D2E;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
}

.bouquet-card__img-container {
    background-image: url("assets/istockphoto-1422593766-1024x1024.jpg");
    background-size: cover;
    width: 100%;
    aspect-ratio: 1.3;
}

